*{
    padding: 0;
    margin: 0;

}
h1{
    text-align: center;
    color: white;
    padding: 20px;
    
}
.main{
    background-color: black;
    height: 100vh;
 
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
     margin: 30px;
}
img:hover{
    
    transform: scale(1.1);
}